{% extends "base.html" %}
{% block btn %}
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-group" method="POST">
            {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {{ form.username(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        
        </form>
    </div>
    <br>
    <a class="btn btn-info" href="/signup">新規登録はこちら</a>
{% endblock %}